.App {
    background-color: #222; /* Dark gray background color */
    color: #fff; /* Text color (white) */
    min-height: 100vh; /* Ensures the background color covers the entire viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers the content vertically */
    align-items: center; /* Centers the content horizontally */
    padding: 20px; /* Adjust padding as needed */
}

.App-header {
    text-align: center; /* Centers the text horizontally */
    padding: 20px 0; /* Add padding to the header */
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}

.image-container > div {
    text-align: center;
    padding: 20px;
}

.quiz {
    text-align: center;
    margin-top: 20px;
}

.question-section {
    margin-bottom: 20px;
}

.answer-section button {
    margin: 5px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.answer-section button:hover {
    background-color: #45a049;
}

.score-section {
    font-size: 24px;
    margin-top: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Optional: Adds rounded corners to images */
}

.likes-container {
    margin-top: 20px;
    text-align: center;
}

.likes-container input {
    margin-right: 10px;
}

.likes-container button {
    margin-top: 10px;
}
